{% extends 'base.html.twig' %}
{% block title %} Le client n° {{client.id}}{% endblock %}
{% block body %}
    <div class="container" style="width: 50%; float: left; padding: 20px; border: 2px">
        <h3 class="display-6">Le Client n°{{client.id}}</h3>
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <a href="{{path('modifierClient',{'id':client.id})}}" class="btn btn-info pull-right"><span class="fa fa-pencil-square-o"></span></a>
                    <h2>Détails</h2>
                    <div class="row">
                        <dd class="col-md-4">Nom</dd>
                        <dd class="col-md-8">{{client.nom}}</dd>
                        <dd class="col-md-4">Prenom</dd>
                        <dd class="col-md-8">{{client.prenom}}</dd>
                        <dd class="col-md-4">Email</dd>
                        <dd class="col-md-8">{{client.email}}</dd>
                        <dd class="col-md-4">Téléphone</dd>
                        <dd class="col-md-8">{{client.telephone}}</dd>
                        <dd class="col-md-4">Société</dd>
                        <dd class="col-md-8">{{client.societe.nom}}</dd>
                        <dd class="col-md-4">Adresse Société</dd>
                        <dd class="col-md-8">{{client.societe.adresse}}</dd>
                        </div>
                </div>
                <div class="alert alert-light">
                    <div class="row" style="word-wrap: break-word">
                        <dd class="col-md-4">La note la plus récente :</dd>
                        {% for n in note %}
                            <dd class="col-md-8">{{n.texte}}</dd>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="{{path('ajouterNoteClient',{'id':client.id})}}" class="btn btn-success">Ajouter une Note</a>
            <a href="{{path('ajouterTacheClient',{'id':client.id})}}" class="btn btn-success">Ajouter une Tâche</a>
            {% if compteur > 1 %}
                <a href="{{path('notesClient',{'id':client.id})}}" class="btn btn-success">Voir anciennes notes</a>
            {% endif %}
        </div>
   </div>

    <div class="jumborton" style="width: 50%; float: right; padding: 20px; border: 2px">
    <h3 class="display-6">Les Taches du Client {{client.id}}</h3>
    <table class="table table-hover">
    <thead>
    <tr>
        <th>ID Tache</th>
        <th>Texte</th>
        <th>Date</th>
        <th>Statut</th>
        <th>Valider</th>
        <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>
    {% for tache in client.taches %}
        <tr class="table-light">
            <td>{{tache.id }}</td>
            <td style="word-wrap: break-word; word-break: break-all">{{tache.texte}}</td>
            <td>{{tache.date|date('d/m/y')}}</td>
            <td>{{tache.statut}}</td>
            <td>
                {% if tache.statut == "A faire" %}
                <a href="{{path('validerTache',{'id':tache.id})}}" class="btn btn-success"><span class="fa fa-check"></span></a>
            {% else %}
                <a href="{{path('validerTache',{'id':tache.id})}}" class="btn btn-success disabled"><span class="fa fa-check"></span></a>
            {% endif %}
            </td>
            <td><a href="{{path('supprimerTache',{'id':tache.id})}}" onclick="return confirm('Êtes-vous sûr?')" class="btn btn-danger"><span class="fa fa-trash" style="margin:0 auto"></span></a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    </div>

{% endblock %}