{% extends 'base.html.twig' %}

{% block title %}Ajouter Tache{% endblock %}

{% block body %}
<div class="container alert-light">
<h1 class="display-6 text-center">Ajouter une Tache pour le Client N°{{client.id}}</h1>
{{form_start(form)}}
{{form_widget(form)}}
<div class="modal-footer">
<button type="submit" class="btn btn-success" style="margin-bottom: 10px">Ajouter</button>
<a class="btn btn-secondary" style="margin-bottom: 10px" href="{{path('client',{'id':client.id})}}">Retour</a>
</div>
{{form_end(form)}}
</div>
{% endblock %}