{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

<div class="jumborton" style="width: 50%; float: right; padding: 20px; border: 2px">
<a><h3 class="display-6">Les Clients</h3></a>
<a href="{{path('newClient')}}" class="btn btn-info pull-right" style="margin-right: 20px">+</a>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Société</th>
      <th>Adresse</th>
    </tr>
  </thead>
  <tbody>
  {% for client in clients %}
    <tr class="table-light">
      <td><a href="{{path('client',{'id':client.id})}}" class="btn">{{client.nom}}</a></td>
      <td>{{client.prenom}}</td>
      <td>{{client.societe.nom}}</td>
      <td>{{client.societe.adresse}}</td>
    </tr>
    {% endfor %}
   </tbody>
   </table>
   </div>

{% endblock %}